/* css styles */

/* Style all hyperlinks */
a {
  color: #189cd0; /* Regular link blue */
  text-decoration: none;
}

a:hover {
  color: #56bfd4; /* Darker blue on hover */
  text-decoration: underline;
}

.quarto-about-trestles .about-links .about-link:hover {
  background-color: #4aacc7 !important;
  color: white !important;
}

/* TOC Color */
nav.toc a:hover, 
#TOC a:hover,
nav.toc a.active, 
#TOC a.active {
  color: #189cd0 !important;
  border-left-color: #189cd0 !important;
}


@media (max-width: 992px) {
  .about-image {
    margin-top: 1em; /* or however much space you want */
  }
}

.site-footer-text {
  font-size: 0.8em;  /* smaller text */
  text-align: center; /* optional, looks nice */
  margin-top: 4em;   /* pushes it down nicely */
  color: #6c757d;    /* optional, lighter gray text */
}