/* css styles */

/* Style all hyperlinks */
a {
  color: #189cd0; /* Regular link blue */
  text-decoration: none;
}

a:hover {
  color: #56bfd4; /* Darker blue on hover */
  text-decoration: underline;
}